<div class="col">
    <div class="card h-100" style="width: 12rem;">
        <img src="{{this.foto}}" class="card-img-top bg-secondary" alt="...">
        <div class="card-body bg-light">
            <h5 class="card-title">{{this.nombre}}</h5>
            <p class="card-text">
                <b>$ {{this.precio}}</b><br>
                {{this.descripcion}}<br>
                <u>Disponible</u>: {{this.stock}}u
            </p>
        </div>
    </div>
</div>